<html>
<head>
</head>
<body>
  <table border="2">
    <tr >
      <th (click)="sortingRow('mobId')">Mobile Id</th> <!-- calling sortingRow() method and passing mobId parameter--> 
      <th (click)="sortingRow('mobName')">Mobile Name</th> <!-- calling sortingRow() method mobName parameter -->
      <th (click)="sortingRow('mobPrice')">Mobile Price</th> <!-- calling sortingRow() method mobPrice parameter -->
      <th >ACTION</th>
    </tr>
    <tr *ngFor="let b of arr | sort:col:ord"> <!-- using custom pipe sort -->
      <td >{{b.mobId }}</td>
      <td >{{b.mobName }}</td>
      <td >{{b.mobPrice | currency:'USD'}}</td> <!-- using currency pipe for dollar -->
      <td ><input type="button" value="Delete" (click)="delete(b)"></td> <!-- calling delete(b) method -->
    </tr>
  </table>
</body>
</html>




